body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin : 0;
    font-family: sans-serifs;
}
a:link {
    text-decoration: none;
  }
a{
    color: white;
}

.block{
    flex: 1;
}
.first{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 35px;
    padding-right: 120px;
    padding-left: 120px;
    gap : 20px;

}
.second{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 50px;
    font-family: sans-serif;
    gap : 20px;
    justify-content: center;
}
.third{
    background-color: #E5E7EB;
}
.fourth{
    background-color: white;
}

.first .header{
    align-self: stretch;
    display: flex;
    justify-content: space-between;
   
}
.header_logo{
        font-size: 15px;
        color: #f9faf8;
        font-family: sans-serif;
        font-weight: bold;
}
ul{ 
  
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    list-style : none;
    justify-content: space-between;
    gap : 10px;
    
}
li{
    font-size: 8px;
    color: #E5E7EB;
    font-family: sans-serif;
}

.place{
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    gap : 20px;
    

}
.left{
    display: flex;
    flex-direction: column;
    gap : 5px;
    flex : 1;
}
button{
    background-color: #0552ce;
    align-self: flex-start;
    border-radius: 4px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.image{
    display: flex;
    flex: 1; 
    
    background-color: rgb(29, 28, 28);
    align-items: center;
    justify-content: center;
    color: gray;
}
.second .header{
    font-weight: bold;    
    color: black;
}
.second .content{
    flex: 1;
    color: black;
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    margin-top: auto;
    margin-bottom: auto;
}
.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap : 5px;
    justify-content: space-between;
}
.illustration
{   flex: 1;
    border : solid blue 3px;
    
    border-radius: 7px;
 
    
    
}